<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qianhu">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许读取wifi网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 测试打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 测试通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 兼容4.4访问外部存储全线 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ui.activity.ChatActivity" />
        <activity android:name=".app.ui.activity.HomeItemDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.qianhu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>